.footer {
    background-image: url("../img/footer.svg");
    background-position: center;
    background-repeat: no-repeat;

    .footer__woman-img {
        margin: 88px 0 0 140px;
    }
    
    .footer__title {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        text-transform: uppercase;
        align-content: center;
    }
    
    .footer__subscribe {
        margin-top: 150px;
        margin-right: 100px;
    }
    
    .footer__subscribe-sub {
        color:#222224;
        font-size: 24px;
        font-weight: 700;
        line-height: 38px; 
        display: block; 
    }
    
    .footer__descripteon-subscribe {
        text-align: center;
        padding-bottom: 32px;
    }
    
    .footer__descripteon {
        display: flex;
        justify-content: space-between;
    }
    
    .footer__text {
        margin-top: 60px;
        width: 360px;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        padding-bottom: 126px;
    }
    
    .from {
        outline: none;
        border: none;
        position: relative;
        width: 230px;
        height: 47px;
        border-radius: 50px 0 0 50px;
        background: #E1E1E1;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        padding-left: 22px;
    }
    
    .footer__rights {
        color: $gray-color;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
    }
    
    .from__descripteon {
        padding-bottom: 150px;
    }
    
    .footer__button {
        margin-left: -4px;
        outline: none;
        border: solid 1px $dark-pink-color;
        background:#F4F4F4 70%;
        color: $dark-pink-color ;
        border-radius: 0 50px 50px 0;
        position: relative;
        width: 100px;
        height: 49px;
    }
    .footer__button:hover {
        color: $light-white-color;
        background-color: $dark-pink-color;
        position: initial;
        outline: none;
    }
    
    .Subscribe {
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
    }
    
}

.footer__social {
    background-color: $black-color;
    display: flex;
    justify-content: space-between;
    min-height: 79px;
    align-items: center;

    .footer__social__network {
        display: flex;
        justify-content: space-between;
    }
    .footer__rights__block {
        padding: 30px 0 30px 0;
    }
    
    .footer__img__social {
        padding: 24px 0 24px 0;
    }
    .list__social {
        display: flex;
        margin: 0;
        list-style: none;
    }
    
    .facebook {
        width: 32px;
        height: 32px;
        margin-right: 7px;
    }
    
    .instagram {
        width: 32px;
        height: 32px;
        margin-right: 7px;
    }
    
    .pinterest {
        width: 32px;
        height: 32px;
    }
    
    .twitter {
        position: initial;
        background-image: url(../img/Twitter.svg);
        width: 32px;
        height: 32px;
        margin-left: 7px;
    }
    .facebook__svg,
    .instagram__svg,
    .pinterest__svg,
    .twitter__svg{
        background-color: $light-white-color;
        fill: $black-color;
    }
    .facebook__svg:hover,
    .facebook__svg:focus,
    .instagram__svg:hover,
    .instagram__svg:focus,
    .pinterest__svg:hover,
    .pinterest__svg:focus,
    .twitter__svg:hover,
    .twitter__svg:focus{
        background-color: $dark-pink-color;
        fill: $light-white-color;
    }
}

