.sendusmessage {
    background: #E5E5E5;

    .registration__descripteon {
        display: flex;

        .reg__benefit {
            margin-top: 64px;
            margin-left: 128px;
        }
        
        .Your_Name {
            margin: 64px 0 20px 0;
            font-size: 16px;
            font-weight: 300;
            line-height: 19px;
        }
        
        .from_reg_first {
            padding-left: 17px;
            font-size: 13px;
            font-weight: 300;
            line-height: 16px;
            height: 44px;
            width: 358px;
            margin-bottom: 20px;
        }
        
        .from_reg_last {
            padding-left: 17px;
            font-size: 13px;
            font-weight: 300;
            line-height: 16px;
            height: 44px;
            width: 358px;
            margin-bottom: 31px;
        }
        
        .gender-input {
            vertical-align:middle;margin:0;
            width: 17px;
            height: 17px;
            border: 1px solid #A4A4A4;
        }
        
        .gender-label {
            margin: 0 20px 0 10px;
            font-size: 11px;
            font-weight: 300;
            line-height: 13px;
        }
        
        .login_details {
            font-size: 16px;
            font-weight: 300;
            line-height: 19px;
            margin-bottom: 20px;
            margin-top: 32px;
        }
        
        .from_reg_email {
            padding-left: 17px;
            font-size: 13px;
            font-weight: 300;
            line-height: 16px;
            height: 44px;
            width: 358px;
            margin-bottom: 20px;
        }
        
        .from_reg_fassword {
            padding-left: 17px;
            font-size: 13px;
            font-weight: 300;
            line-height: 16px;
            height: 44px;
            width: 358px;
            margin-bottom: 15px;
        }
        
        .from__text {
            max-width: 359px;
            font-size: 13px;
            font-weight: 300;
            line-height: 16px;
            margin-bottom: 55px;
        }
        
        .from__button {
            position: relative;
            padding-right: 66px;
            border: none;
            height: 50px;
            width: 167px;
            border: solid 1px $dark-pink-color;
            color: $dark-pink-color;
            background-color:#E5E5E5;
            margin-bottom: 96px;
        }
        .from__button:hover {
            position: initial;
            color: $light-white-color;
            background-color: $dark-pink-color;
        }
        
        .title__reg {
            font-size: 24px;
            font-weight: 300;
            line-height: 29px;
        }
        
        .title__benefit {
            font-size: 24px;
            font-weight: 300;
            line-height: 29px;
            margin-top: 22px;
        }
        
        .item__benefit__first {
            margin-left: 44px;
            font-size: 24px;
            font-weight: 300;
            line-height: 29px;
            margin-top: 21px;
            position: relative;
        }
        
        .item__benefit {
            margin-left: 44px;
            font-size: 24px;
            font-weight: 300;
            line-height: 29px;
            margin-top: 16px;
            position: relative;
        }
        
        .list_benefit {
            margin: 0;
            list-style: none;
        }
        
        .item__benefit__first:before {
            content:'';
            width: 20px;
            height: 16px; 
            position: absolute;
            left: -40px;
            top: 8px;
            background-image: url(https://image.flaticon.com/icons/png/512/33/33281.png);
            background-size: 20px 16px;
        }
        
        .text__benefit::before {
            content:'';
            width: 20px;
            height: 16px; 
            position: absolute;
            left: -40px;
            top: 8px;
            background-image: url(https://image.flaticon.com/icons/png/512/33/33281.png);
            background-size: 20px 16px;
        }
    }
    
}


