.benefits {
    background-color: $black-color;
    margin-top: 109px;
    
    .benefits__list {
        display: flex;
        text-align: center;
        justify-content: space-between;
    }
    
    .benefit__title {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        color: $white-сolor;
        margin-top: 28px;
    }
    
    .benefit__text {
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        color: $white-сolor;
        margin: 16px 0 103px 0;
    }
    
    .benefit__img {
        height: 32px;
        margin-top: 103px;
    }
}

