.products {
    margin-top: 97px;

    .products__item {
    position: relative;
}

.cart-wrapper-overlay:hover .button__basket__product{
    display: block;
}

.button__basket__product {
    display: none;
    height: 43px;
    width: 138px;
    position:absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(58, 56, 56, 0.86);
    color: $light-white-color;
    border: 1px solid $light-white-color;
}
.overlay {
    position: inherit;
    margin-top: -420px;
    height: 420px;
    width: 360px;
    background: rgba(58, 56, 56, 0.86);
}

.cart-wrapper-overlay:hover {
    position: relative;
}

.overlay::before {
    position: absolute;
}


.products__title {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center; 
}

.products__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px; 
    text-align: center;
}

.product__buttom {
    display: none;
}

.products__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 48px;
    padding-bottom: 49px;
}

.products__item {
    width: 360px;
}

.product__img {
    position: relative;
    display: block;
}

.product__descripteon {
    background-color: $gray-color;
    padding: 25px 29px 20px 17px;
}

.product__title {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin: 0 0 12px 0;
}

.product__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    margin: 0 0 18px 0;
}

.product__price {
    color: $dark-pink-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.product {
    margin: 0 0 30px;
}

.products_button {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    padding: 15px 39px;
    color: $dark-pink-color;
    display: flex;
    margin: 0 auto;
    border: solid 1px $dark-pink-color;
    background: transparent;
}

.products_button:hover{
    color: $light-white-color;
    background-color: $dark-pink-color;
    position: initial;
    outline: solid 1px $dark-pink-color;
}
}

