:root {
    --black-color: #222222;
    --pink-color: #F1E4E6;
    --dark-pink-color: #F16D7F;
    --gray-color: #F8F8F8;
    --white-сolor:  #FBFBFB;
    --light-white-color: #FFFFFF;
}

body {
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.promotions__list > .promotions__item > a {
    text-decoration: none;
    color: var(--light-white-color);
}  

.header {
    position: relative;
    background-color: var(--black-color);
}
.button__nav {
    display: flex;
    position: relative;
}

.header_navigation {
    position: absolute;
    width: 232px;
    height: 764px; 
    top: 170%;
    margin-left: 130px;
    background: var(--light-white-color);
    display: none;
}

.header__button:focus + .header_navigation {
    display: block;
}

.header_navigation:focus {
    display: block;
}

.header__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    margin: 37px 0 0 34px;
}

.header__navigation-list {
    list-style: none;
}

.header__navigation-list > li {
    margin-top: 24px;
}

.header__sub-navigation-list > li {
    margin-top: 12px;
    margin-left: 54px;
}

.header__sub-title {
font-size: 14px;
font-weight: 400;
line-height: 17px;
margin-left: 33px;
margin-top: 50px;
text-decoration: none;
color: var(--dark-pink-color);
}

.header__sub-navigation-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: var(--black-color);
}


.header__container {
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;
}

.header__logo {
    margin: 0 42px 0 0;
}

.header__button {
    background: transparent;
    border: none;
    margin: 0 33px 0 0;
}

.header__link {
    margin: 0 33px 0 0;
}

.brand {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
}

.brand__title-container {
    background: var(--pink-color);
    flex-grow: 1;
    padding: 0 0 0 92px;
    display: flex;
    align-items: center;
}

.brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
    /*width: 377px;*/
}

.brans__sub-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    display: block;
}

.brand__pink-sub-title {
    color: var(--dark-pink-color);
}

.promotions {
    margin-top: 63px;
}

.promotions__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.promotions__item {
    width: 360px;
    min-height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 30px;
    text-align: center;
}

.promotions__item--woman {
    background-image: url("../img/promotions-woman.jpg");
    background-size: cover;
}

.promotions__item--men {
    background-image: url("../img/promotions-man.jpg");
    background-size: cover;
}

.promotions__item--kids {
    background-image: url("../img/promotions-kid.jpg");
    background-size: cover;
}

.promotions__item--accesorier {
    background-image: url("../img/promotions-accesories.jpg");
    background-size: cover;
    width: 100%;
}

.promotions__title {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.promotions__text {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: var(--dark-pink-color);
}

.products {
    margin-top: 97px;
}


.button__basket__product {
    height: 43px;
    width: 138px;
    position:absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(58, 56, 56, 0.86);
    color: var(--light-white-color);
    border: 1px solid var(--light-white-color)
}
.overlay {
    position: inherit;
    margin-top: -420px;
    height: 420px;
    width: 360px;
    background: rgba(58, 56, 56, 0.86);
}
.button__basket__product:hover{
    display: block;
}
.cart-wrapper-overlay:hover {
    position: relative;
}
.overlay::before {
    position: absolute;
}



.products__title {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center; 
}

.products__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px; 
    text-align: center;
}

.product__buttom {
    display: none;
}

.products__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 48px;
    padding-bottom: 49px;
}

.products__item {
    width: 360px;
}

.product__img {
    position: relative;
    display: block;
}

.product__descripteon {
    background-color: var(--gray-color);
    padding: 25px 29px 20px 17px;
}

.product__title {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin: 0 0 12px 0;
}

.product__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    margin: 0 0 18px 0;
}

.product__price {
    color: var(--dark-pink-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.product {
    margin: 0 0 30px;
}

.products_button {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    padding: 15px 39px;
    color: var(--dark-pink-color);
    display: flex;
    margin: 0 auto;
    border: solid 1px var(--dark-pink-color);;
    background: transparent;
}

.products_button:hover{
    color: var(--light-white-color);
    background-color: var(--dark-pink-color);
    position: initial;
    outline: solid 1px var(--dark-pink-color);
}

.benefits__list {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.benefits {
    background-color: var(--black-color);
    margin-top: 109px;
}

.benefit__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: var(--white-сolor);
    margin-top: 28px;
}

.benefit__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: var(--white-сolor);
    margin: 16px 0 103px 0;
}

.benefit__img {
    height: 32px;
    margin-top: 103px;
}

.footer {
    background-image: url("../img/footer.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.footer__woman-img {
    margin: 88px 0 0 140px;
}

.footer__title {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    align-content: center;
}

.footer__subscribe {
    margin-top: 150px;
    margin-right: 100px;
}

.footer__subscribe-sub {
    color:#222224;
    font-size: 24px;
    font-weight: 700;
    line-height: 38px; 
    display: block; 
}

.footer__descripteon-subscribe {
    text-align: center;
    padding-bottom: 32px;
}

.footer__descripteon {
    display: flex;
    justify-content: space-between;
}

.footer__text {
    margin-top: 60px;
    width: 360px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding-bottom: 126px;
}

.from {
    outline: none;
    border: none;
    position: relative;
    width: 230px;
    height: 47px;
    border-radius: 50px 0 0 50px;
    background: #E1E1E1;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    padding-left: 22px;
}

.footer__social {
    background-color: var(--black-color);
    display: flex;
    justify-content: space-between;
    min-height: 79px;
    align-items: center;
}

.footer__social__network {
    display: flex;
    justify-content: space-between;
}

.footer__rights {
    color: var(--white-сolor);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.from__descripteon {
    padding-bottom: 150px;
}

.footer__rights__block {
    padding: 30px 0 30px 0;
}

.footer__img__social {
    padding: 24px 0 24px 0;
}

.footer__button {
    margin-left: -4px;
    outline: none;
    border: solid 1px var(--dark-pink-color);
    background:#F4F4F4 70%;
    color: var(--dark-pink-color) ;
    border-radius: 0 50px 50px 0;
    position: relative;
    width: 100px;
    height: 49px;
}
.footer__button:hover {
    color: var(--light-white-color);
    background-color: var(--dark-pink-color);
    position: initial;
    outline: none;
}

.Subscribe {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}
.list__social {
    display: flex;
    margin: 0;
    list-style: none;
}

.facebook {
    position: relative;
    background-image: url(../img/Facebook.svg);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    margin-right: 7px;
}

.instagram {
    position: initial;
    background-image: url(../img/Instagram.svg);
    width: 32px;
    height: 32px;
    margin-right: 7px;
}

.pinterest {
    position: initial;
    background-image: url(../img/Pinterest.svg);
    width: 32px;
    height: 32px;
}

.twitter {
    position: initial;
    background-image: url(../img/Twitter.svg);
    width: 32px;
    height: 32px;
    margin-left: 7px;
}









.registration {
    height: 148px;
    background: #F8F3F4;
}

.text__registration {
    padding-top: 59px;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: var(--dark-pink-color);
}

.sendusmessage {
    background: #E5E5E5;
}

.registration__descripteon {
    display: flex;
}

.reg__benefit {
    margin-top: 64px;
    margin-left: 128px;
}

.Your_Name {
    margin: 64px 0 20px 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
}

.from_reg_first {
    padding-left: 17px;
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    height: 44px;
    width: 358px;
    margin-bottom: 20px;
}

.from_reg_last {
    padding-left: 17px;
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    height: 44px;
    width: 358px;
    margin-bottom: 31px;
}

.gender-input {
    vertical-align:middle;margin:0;
    width: 17px;
    height: 17px;
    border: 1px solid #A4A4A4;
}

.gender-label {
    margin: 0 20px 0 10px;
    font-size: 11px;
    font-weight: 300;
    line-height: 13px;
}

.login_details {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    margin-bottom: 20px;
    margin-top: 32px;
}

.from_reg_email {
    padding-left: 17px;
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    height: 44px;
    width: 358px;
    margin-bottom: 20px;
}

.from_reg_fassword {
    padding-left: 17px;
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    height: 44px;
    width: 358px;
    margin-bottom: 15px;
}

.from__text {
    max-width: 359px;
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    margin-bottom: 55px;
}

.from__button {
    position: relative;
    padding-right: 66px;
    border: none;
    height: 50px;
    width: 167px;
    border: solid 1px var(--dark-pink-color);
    color: var(--dark-pink-color);
    background-color:#E5E5E5;
    margin-bottom: 96px;
}
.from__button:hover {
    position: initial;
    color: var(--light-white-color);
    background-color: var(--dark-pink-color);
}

.title__reg {
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
}

.title__benefit {
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    margin-top: 22px;
}

.item__benefit__first {
    margin-left: 44px;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    margin-top: 21px;
    position: relative;
}

.item__benefit {
    margin-left: 44px;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    margin-top: 16px;
    position: relative;
}

.list_benefit {
    margin: 0;
    list-style: none;
}

.item__benefit__first:before {
    content:'';
    width: 20px;
    height: 16px; 
    position: absolute;
    left: -40px;
    top: 8px;
    background-image: url(https://image.flaticon.com/icons/png/512/33/33281.png);
    background-size: 20px 16px;
}

.text__benefit::before {
    content:'';
    width: 20px;
    height: 16px; 
    position: absolute;
    left: -40px;
    top: 8px;
    background-image: url(https://image.flaticon.com/icons/png/512/33/33281.png);
    background-size: 20px 16px;
}
